.book-container {
  margin-left: 70px;
  margin-top: 30px;

  .list-group-item {
    padding: 0.5rem 0rem;
  }

  .btn {
    margin-top: 20px;
  }
}

.buttons {
  margin-top: 30px;

  .button{
    padding-left: 20px;
  }
}

label, legend, output{
  margin-top: 10px;
}

