<div class="book-container">
  <h1>Libro</h1>
  <div class="row">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <h5 class="card-title">{{VM.Elemento.titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-muted mt-3">{{VM.Elemento.autor}}</h6>
        <ul class="list-group list-group-flush mb-3 mt-2">
          <li class="list-group-item"><b>País:</b> {{VM.Elemento.pais}}</li>
          <li class="list-group-item"><b>Año:</b> {{VM.Elemento.fecha}}</li>
          <li class="list-group-item"><b>Nº páginas:</b> {{VM.Elemento.paginas}}</li>
        </ul>
        <a href="{{VM.Elemento.wiki}}" class="card-link">Wikipedia</a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary" (click)="VM.cancel()">Volver</button>
</div>
