.buttons {
  margin-top: 20px;
  text-align: center;

  input {
    margin-right: 16px;
  }

  input:last-child {
    margin-right: 0px;
  }
}

.formulario{
  margin-left: 20px;

  label{
    margin-top: 10px;
  }
}

h1{
  margin-left: 20px;
}
