<nav class="navbar navbar-dark px-4" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="col-md-1 col-3">
    <a class="navbar-brand" href="#">
      <img src="https://i.ibb.co/4gx3xLp/claqueta.png" alt="logo" width="50" height="50">
    </a>
  </div>
  <div class="col-md-7 col-9">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active fs-4 text-dark ps-4"  aria-current="page" href="#">Inicio</a>
      </li>
    </ul>
    </div>
    <div class="col-md-4 col-12 login">
      <app-login></app-login>
    </div>
  </div>
</nav>

